* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: auto;
}

.header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #333;
}

.main {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.product {
    border: 1px solid black;
    padding: 40px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product__name,
.product__price,
.product__add-to-cart {
    margin: 10px 0;
}

.product__add-to-cart {
    padding: 5px 10px;
    color: #fff;
    background-color: #f18304;
    border: 1px solid #f18304;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.product__add-to-cart:hover {
    background-color: #fff;
    color: #f18304;
}

.cart__container {
    position: absolute;
    top: 60px;
    display: none;
    opacity: 0;
    /* display: flex;
    opacity: 1; */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s ease-in-out;
}

.cart__container:hover {
    display: flex;
    opacity: 1;
}

.cart__button:focus~.cart__container {
    display: flex;
    opacity: 1;
    /* display: block; */
}